body {
  background-color: $bgColor;
  background-image: generateGradientRadial($bgColor, $bgSubcolor);
}

.poster {
  max-width: $desktopMinWidth;
  margin: auto;

  container-type: inline-size;
  container-name: title-size;

  @media screen and (max-width: $desktopMinWidth) { margin: 20px; }

  @supports (display: grid) {
    display: grid;
    grid-template-rows: 15vh 30vh 25vh 20vh;
    grid-template-columns: minmax(10em, max-content) minmax(14em, max-content) minmax(14em, max-content) fit-content(18em) 2fr;

    @media screen and (max-width: $desktopMinWidth) {
      grid-template-rows: auto;
      grid-template-columns: 100%;
    }
  }

  &__imatge {
    height: 300px;
    text-align: center;

    @supports (display: grid) {
      grid-row: 1/1;
      grid-column: 1/3;

      height: 600px;

      @media screen and (max-width: $desktopMinWidth) {
        grid-row: 2;
        grid-column: 1;

        height: 300px;

        text-align: center;
      }
    }
  }

  &__logo {
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.39);
    container: rotate / inline-size;

    @supports (display: grid) {
      grid-row: 5/5;
      grid-column: 4/5;

      @media screen and (max-width: $desktopMinWidth) {
        grid-row: 1;
        grid-column: 1;

        text-align: center;
      }
    }
  }

  &__intro {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.39);

    @supports (display: grid) {
      grid-row: 5/3;
      grid-column: 3/4;

      @media screen and (max-width: $desktopMinWidth) {
        grid-row: 3;
        grid-column: 1;

        text-align: center;
      }
    }
  }

  &__info {
    margin-top: 20px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;

    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.39);

    @supports (display: grid) {
      grid-row: 4/5;
      grid-column: 1/3;

      @media screen and (max-width: $desktopMinWidth) {
        grid-row: 4;
        grid-column: 1;

        text-align: center;
      }
    }
  }

  &__frase {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.39);

    @supports (display: grid) {
      grid-row: 1/5;
      grid-column: 4/4;

      margin-top: 20px;

      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;

      writing-mode: vertical-rl;

      @media screen and (max-width: $desktopMinWidth) {
        grid-row: 5;
        grid-column: 1;

        text-align: center;
        writing-mode: initial;
      }
    }
  }
}

@container title-size (min-width: 800px) {
  .poster__logo { font-size: 2rem }
}