header {

  .menu-principal {
    display: flex;
    align-items: center;
    padding: 10px 40px;
    margin: 0px;
    margin-bottom: 0px;

    text-align: center;
    list-style: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

    @media screen and (max-width: $desktopMinWidth) {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      display: inline-block;

      @media screen and (max-width: $desktopMinWidth) {
        display: block;
        margin-bottom: 20px;
      }
    }

    &__logo {
      margin-right: auto;

      @media screen and (max-width: $desktopMinWidth) {
        margin-right: 0;
      }
    }

    &__opcio {
      padding: 10px 20px;

      &:hover {
        cursor: pointer;
        background-color: red;
      }
    }

    &__media { display: none; }

    &__home { display: none; }
  }
}