.qui-som {
    container-type: inline-size;
    container-name: imatge-bg;

    &--bg {
        background-image: url("/src/assets/images/quisom_bg.jpeg");
        background-size: cover;
        background-position: 50% 50%;
        height: 50vh;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);


    }

    &__poliesportiu {
        background-image: url("/src/assets/images/quisom_pistes.jpeg");
        background-size: cover;
        background-position: 50% 50%;
        height: 400px;
    }
}

article:has(address) address {
    font-style: italic;
}

:is(h2, h3, h4, h5, h6) {
    font-family: 'Courier New', Courier, monospace
}

@container imatge-bg (max-width: 991px) {
    .qui-som {
        &--bg {
            height: 300px;
        }
    }
}