.reticula {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  align-items: center;
  justify-content: center;

  padding: 20px;
}

.jugador {
  align-items: flex-start;
  width: calc(25% - 15px);
  text-align: center;

  background-color: $jugadorBgColor;
  border-radius: $jugadorBorderRadius;

  @media screen and (max-width: $desktopBigMinWidth) { width: calc(33% - 10px); }

  @media screen and (max-width: $desktopMinWidth) { width: calc(50% - 10px); }

  @media screen and (max-width: $mobileMaxWidth) { width: 100%; }

  &__imatge {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 100% 0;
    border-radius: $jugadorBorderRadius $jugadorBorderRadius 0px 0px;
  }

  &__nom {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-weight: bold;
  }
}