<header>
    <nav>
        <ul class="menu-principal">
            <li class="menu-principal__logo">
                <h1 class="menu-principal__item">Tennis buddies</h1>
            </li>
            <li class="menu-principal__pagines">
                <ul>
                    <li class="menu-principal__item menu-principal__home"><a class="menu-principal__opcio" href="/src/index.html">Inici</a></li>
                    <li class="menu-principal__item"><a class="menu-principal__opcio" href="/src/top6.html">Top 6</a></li>
                    <li class="menu-principal__item"><a class="menu-principal__opcio" href="/src/quisom.html">Qui som</a></li>
                    <li class="menu-principal__item"><a class="menu-principal__opcio" href="/src/contacte.html">Contacte</a></li>
                </ul>
            </li>
            <li class="menu-principal__media">
                <ul>
                    <li class="menu-principal__item"><a class="menu-principal__opcio"><i class="fa-brands fa-square-x-twitter fa-xl"></i></a></li>
                    <li class="menu-principal__item"><a class="menu-principal__opcio"><i class="fa-brands fa-square-facebook fa-xl"></i></a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>