<header>
    <nav>
        <ul class="menu-principal">
            <li class="menu-principal__logo">
                <h1 class="menu-principal__item">Tennis hacker</h1>
            </li>
            <li class="menu-principal__pagines">
                <ul>
                    <li class="menu-principal__item menu-principal__home"><a class="menu-principal__opcio">Inici</a></li>
                    <li class="menu-principal__item"><a class="menu-principal__opcio">Page Two</a></li>
                    <li class="menu-principal__item"><a class="menu-principal__opcio">Page Three</a></li>
                    <li class="menu-principal__item"><a class="menu-principal__opcio">Page Four</a></li>
                </ul>
            </li>
            <li class="menu-principal__media">
                <ul>
                    <li class="menu-principal__item"><a class="menu-principal__opcio">Twitter</a></li>
                    <li class="menu-principal__item"><a class="menu-principal__opcio">Facebook</a></li>
                </ul>
            </li>
        </ul>

    </nav>
</header>