@use "sass:color";

$mqMinWidth: 420px;

$desktopBigMinWidth: 1600px;
$desktopMinWidth: 1038px;
$mobileMaxWidth: 600px;
$jugadorBorderRadius: 20px;

$bgColor: #b9e160;
$bgSubcolor: #c9ff58;

$navBgColor: #fff;
$jugadorBgColor: #fff;

/* Substitucions de Bootstrap */
$h1-font-size: 2rem;
$headings-font-weight: bold;
$headings-margin-bottom: 0;