@use "sass:color";

$mqMinWidth: 420px;

$desktopBigMinWidth: 1600px;
$desktopMinWidth: 1038px;
$mobileMaxWidth: 600px;
$jugadorBorderRadius: 20px;

$bgTextColor: #96b15d;
$bgColor: #b9e160;
$bgSubcolor: #c9ff58;

$navBgColor: #fff;
$jugadorBgColor: #fff;

$enviarColor: 72% 132 163;
$enviarBorderColor: 52% 132 163;
$enviarTransparent: 72%;
$enviarHoverTransparent: 46%;

/* Substitucions de Bootstrap */
$h1-font-size: 2rem;
$headings-font-weight: bold;
$headings-margin-bottom: 0;